<div id="filebrowser" class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">File Browser - current dir: {{ browserWorkingDir }}</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% for key,value in browserDirs.items() %}
              <a href="./change?id={{ key }}"  class="list-group-item">{{value}}</a>
            {% endfor %}
        </div>
        <hr>
        <div class="list-group">
            {% for key,value in browserFiles.items() %}
                <a href="./play?id={{ key }}" class="list-group-item">{{value}}</a>
            {% endfor %}
        </div>
    </div>
</div>