<div id="playerpanel" class="panel panel-primary">
    <div class="panel-heading">
        <h3 id="player-text" class="panel-title">
        {% if playerStatus == 0 %}
            Player - {{playerType}} - stopped
        {% elif playerStatus == 1 %}
            Player - {{playerType}} - playing {{ currentFile }}
        {% elif playerStatus == 2 %}
            Player - {{playerType}} - paused {{ currentFile }}
        {% endif %}
        </h3>
    </div>
  {% if displayPlayerInMain %}  
    <div class="panel-body">
        <div class="btn-group btn-group-justified">
            {% include "playerbutton.html" %}
        </div>
    </div>
  {% endif %}
</div>
