<div id="player" class="panel panel-primary">
    <div class="panel-heading">
        {% if playerStatus == 0 %}
            <h3 class="panel-title">Player - stopped</h3>
        {% elif playerStatus == 1 %}
            <h3 class="panel-title">Player - playing {{ currentFile }}</h3>
        {% elif playerStatus == 2 %}
            <h3 class="panel-title">Player - paused {{ currentFile }}</h3>
        {% endif %}
    </div>
  {% if displayPlayerInMain %}  
    <div class="panel-body">
        <div class="btn-group btn-group-justified">
            {% include playerbutton.html %}
        </div>
    </div>
  {% endif %}
</div>
