body{
    padding-top: 165px;
}

ul{
    list-style:none;
}

.progress {
    cursor: pointer;
}

.progress-bar > span{
    text-align: center;
    color: #00bc8c;
}

@media (min-width: 768px){
    body{
        padding-top: 105px;
    }
}